useDynLib(BCEL)
importFrom(Rcpp, evalCpp)
import(RcppArmadillo)
import(Matrix)
import(RSpectra)
import(MASS)
import(gtools)
importFrom("stats", "median")
importFrom("stats", "gaussian", "rnorm")
importFrom("methods", "as")
export(exclusivelasso_project)
export(exclusivelasso)
export(bcel)
export(bcel_stable)
